@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    --initialDelay: 1s;
    --shadowColor: 246;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


header {
    display: flex;
    width: 80%;
    /* max-width: 1024px; */
    max-height: 100vh;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: royalblue; */
    justify-content: center;
    margin: 10px auto;
}

header div.headerText {
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 15px;
    height: 10%;
    /* background-color: aquamarine; */
    flex-basis: 100%;
    max-width: 1024px;
    opacity: 0%;
    margin-bottom: 5%;
    z-index: 1;
}

header div.headerText {
    font-family: 'Bangers', cursive;
    font-size: 10em;
    flex-basis: 100%;
    text-transform: uppercase;
    text-decoration: underline;
    transform: rotate(-10deg) translateX(-3%);
    text-shadow: 1px 1px hsl(var(--shadowColor), 50%, 45%),
        2px 2px hsl(var(--shadowColor), 50%, 40%),
        3px 3px hsl(var(--shadowColor), 50%, 35%),
        4px 4px hsl(var(--shadowColor), 50%, 34%),
        5px 5px hsl(var(--shadowColor), 50%, 33%),
        6px 6px hsl(var(--shadowColor), 50%, 32%),
        7px 7px hsl(var(--shadowColor), 50%, 31%),
        8px 8px hsl(var(--shadowColor), 50%, 30%),
        9px 9px hsl(var(--shadowColor), 50%, 29%),
        10px 10px hsl(var(--shadowColor), 50%, 28%),
        10px 10px 30px rgba(0, 0, 0, .7);
}

div.headerImages {
    position: relative;
    bottom: 0;
    left: 0;
    flex-basis: 70%;
    height: 30%;
    width: 80%;
    max-width: 1024px;
    align-self: center;
    margin-top: 20px;
    /* background-color: saddlebrown; */
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

.hImg1animation {
    display: block;
    z-index: 1;
    transform: translateY(-1000%);
    animation: enterImg 0.1s ease calc(var(--initialDelay) + 0.5s) 1 forwards;
}

.hImg2animation {
    display: block;
    animation: showImg calc(var(--initialDelay) + 0.65s) steps(1) 0.0s 1 forwards;
}

.hImg3animation {
    display: block;
    z-index: 1;
    transform: translateY(-1000%);
    animation: enterImg 0.1s ease calc(var(--initialDelay) + 1s) 1 forwards;
}

.hImg4animation {
    display: block;
    animation: showImg calc(var(--initialDelay) + 1.15s) steps(1) 0s 1 forwards;
}

.hImg5animation {
    display: block;
    z-index: 1;
    transform: translateY(-1000%);
    animation: enterImg 0.1s ease calc(var(--initialDelay) + 1.3s) 1 forwards;
}

.hImg6animation {
    display: block;
    animation: showImg calc(var(--initialDelay) + 1.35s) steps(1) 0s 1 forwards;
}

.hTextanimation {
    animation: showImg calc(var(--initialDelay) + 2.25s) steps(1) 0s 1 forwards;
}

@keyframes enterImg {

    0% {
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes showImg {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.blur {
    filter: blur(2px);
}

.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, .5);

}

.hide {
    display: none;
}

.disabled {
    opacity: 30%;
}

.modal-wrap .modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 80%;
    max-width: 1024px;
    height: 70%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    border: 3px solid black;
    font-size: 24px;
}

@media (orientation: portrait) {
    .modal-wrap .modal {
        width: 90%;
        height: 90%;
        font-size: 12px;
    }
}

.modal .top {
    flex-basis: 10%;
}

.modal .middle {
    flex-grow: 1;
    position: relative;
    padding: 0px 10%;
    text-align: center;
}

.modal .middle::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../resources/mbd1.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 10%;
    background-size: auto 100%;
    z-index: -1;
}

.modal .bottom {
    flex-basis: 10%;
}

.middle h1 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.middle p {
    font-size: 24px;
}

.middle p span {
    display: block;
    text-transform: uppercase;
    font-size: 2em;
    border: 3px solid black;
    cursor: pointer;
    margin: 3% auto;
}

.middle p .continueButton {
    padding: 0px 5px;
}