* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

body {
    overflow-x: hidden
}

.about,
.quotes {
    margin: 90px 0;
}

.about h1,
.quotes h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

/* ABOUT */
.about h2 {
    background-color: cadetblue;
    padding: 20px 0 20px 10vw;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
    margin-bottom: 20px;
    color: white;
}

.about img {
    float: left;
    padding: 0 30px;
}

.about p {
    font-size: 22px;
    padding-right: 40px;
    line-height: 2;
}

.about article {
    margin-bottom: 30px;
    transition: 1s;
}

.about .art2,
.about .art4 {
    transform: translateX(-100vw);
}

.about .art3 {
    transform: translateX(100vw);
}

.about .art2.active,
.about .art4.active,
.about .art3.active {
    transform: translateX(0);
}

/* QUOTES */
.quotes {
    padding: 0 20px;
}

.quotes p {
    font-size: 22px;
    padding: 0 10vw;
}

.quotes p span {
    color: royalblue;
}

.quotes article {
    margin-bottom: 30px;
}

.quotes article.op1 img {
    display: block;
    width: 100%;
    padding: 5vh 5vw;
}

.quotes article.op2 img {
    display: block;
    width: 100%;
    padding: 5vh 20vw;
}

.quotes article {
    transform: scale(0);
    transition: .8s linear;
}

.quotes article.active {
    transform: scale(1);
}

/* Footer */
footer {
    line-height: 80px;
    background-color: #000;
    text-align: center;
    color: white;
    font-size: 22px;
}